@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target all elements */
* {
  scrollbar-width: auto;
}

/* Track - the area the scrollbar slides on */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1; /* Color of the track */
}

/* Handle - the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the handle */
  border-radius: 5px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #152a60; /* Color of the handle on hover */
}

@media screen and (min-width: 966px) {
  /* Target scrollbar and custom class .scroller */
  ::-webkit-scrollbar,
  .scroller {
    width: 15px; /* Width of the scrollbar */
    background-color: #f1f1f1; /* Background color of the scrollbar */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-base-content-important {
  color: hsla(var(--bc) / var(--tw-text-opacity)) !important;
}

svg {
  vertical-align: unset;
}

.z-hover {
  transition: all ease-in-out 0.3s !important;
}

.z-hover:hover,
.z-hover:focus,
.z-hover:active {
  transition: transform 0.3s !important;
  -ms-transform: scale(1.01) !important;
  -webkit-transform: scale(1.01) !important;
  transform: scale(1.01) !important;
}

.pb-0-important {
  padding-bottom: 0 !important;
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}